<!-- script tag to pass variables from controller to javascript-->
<%= javascript_tag "var entries = #{@entries.to_json};
                    var data = #{@data};  " %>




<div class="container">

  <div id="emotion-wheel">
    <h3>Emotional gradient over the last <%= @data.count %> days...</h3>
    <svg width="0" height="0">
      <g>
        <defs>
          <linearGradient id="myGradient0">
          </linearGradient>
          <linearGradient id="myGradient1">
          </linearGradient>
          <linearGradient id="myGradient2">
          </linearGradient>
          <linearGradient id="myGradient3">
          </linearGradient>
          <linearGradient id="myGradient4">
          </linearGradient>
          <linearGradient id="myGradient5">
          </linearGradient>
          <linearGradient id="myGradient6">
          </linearGradient>
        </defs>
            <!-- <circle cx="60" cy="60" r="30" fill="url(#myGradient)"/> -->
      </g>
    </svg>
  </div>

  <div class="clearfix">
    <h3> Nine most recent Entries:</h3>
    <% @entries.each do |entry| %>
      <a href="/users/<%= @user.id %>/entries/<%= entry.id %>">
        <div class="entry-display <%= entry.emotion.downcase %>">
          <ul>
            <li><strong>Date</strong>: <%= entry.date %></li>
            <li><strong>Event</strong>: <%= entry.event %></li>
            <li><strong>Feeling</strong>: <%= entry.emotion %></li>
            <li><strong>Temperature</strong>: <%= entry.weather %></li>
            <li><strong>Conditions</strong>: <%= entry.weather_img %></li>
            <li><strong>Description</strong>: <%= entry.description %></li>
          </ul>
        </div>
      </a>
    <% end %>
  </div>

<!--   <div id="calendar-control">
    <%= button_to "New Entry", new_user_entry_path, :class => "button", :method => :get  %>
    <button id="back" class="calendar-control" name="back"> < </button>
    <div id='month-name'class="calendar-control"></div>
    <button id="forward" class="calendar-control" name="forward"> > </button>
    <label id="currentMonth"></label>
  </div>

  <div id="chart"></div>
 -->
</div>
