<!-- script tag to pass variables from controller to javascript can substitute with $.ajax-->
<%= javascript_tag "var entries = #{@entries.to_json};
                    var data = #{@data};  " %>

<script>
  setTimeout(function(){
    projectData();
    updateAll(data);
  }, 2000);
</script>


<div class="container fadeable">
<div class="sixteen columns">
  <div id="emotion-wheel">
    <hr/>
    <h3>Emotional gradient over the last <%= @data.count %> days...</h3>
    <div id="color-key">
      <table>
        <tbody>
          <td> Emotion-color Key: </td>
          <% @color_key.each do |key| %>
          <tr>
            <td style="background: <%= key[1] %>">
              <%= key[0] %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <svg>
      <g>
        <defs>
          <linearGradient id="myGradient0">
          </linearGradient>
          <linearGradient id="myGradient1">
          </linearGradient>
          <linearGradient id="myGradient2">
          </linearGradient>
          <linearGradient id="myGradient3">
          </linearGradient>
          <linearGradient id="myGradient4">
          </linearGradient>
          <linearGradient id="myGradient5">
          </linearGradient>
          <linearGradient id="myGradient6">
          </linearGradient>
        </defs>
      </g>
    </svg>
    </div>
  </div>
  <div class="clearfix">
    <h3> Six most recent Entries:</h3>
    <% @entries.each do |entry| %>
      <a href="/users/<%= @user.id %>/entries/<%= entry.id %>">
        <div class="entry-display <%= entry.emotion.downcase %>">
          <ul>
            <li><strong>Date</strong>: <%= entry.date %></li>
            <li><strong>Event</strong>: <%= entry.event %></li>
            <li><strong>Feeling</strong>: <%= entry.emotion %></li>
            <li><strong>Temperature</strong>: <%= entry.weather %></li>
            <li><strong>Conditions</strong>: <%= entry.weather_img %></li>
            <li><strong>Description</strong>: <%= entry.description %></li>
          </ul>
        </div>
      </a>
    <% end %>
  </div>
</div>
