<!DOCTYPE html>
<html>
<head>

  <title>PersonalityPalette</title>
  <link href='http://fonts.googleapis.com/css?family=Hind:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="<%= controller_name %>">

  <div id="nav">
    <div class="container">

        <h2 class="six columns">
          <i>Personality Palette</i>
        </h2>
        <ul class="six columns nav-bar">
        <% if current_user %>
          <li><%= link_to content_tag(:i,nil, :class=>"fa fa-home fa-3x"), user_path(current_user), method: :get %></li>
          <li><%= link_to content_tag(:i,nil, :class=>"fa fa-pencil fa-3x"), new_user_entry_path(current_user), method: :get %></li>
          <li><%= link_to content_tag(:i,nil, :class=>"fa fa-th-list fa-3x"), user_entries_path(current_user), method: :get %></li>
          <li><%= link_to content_tag(:i,nil, :class=>"fa fa-sign-out fa-3x"), logout_path, method: :post %></li>
        <% else %>
            <li><%= link_to "Register", new_user_path %></li>
            <li><%= link_to "Login", :login %></li>
        <% end %>
        </ul>
    </div>
  </div>

  <div id="flash">
    <div class="container">
      <div class="sixteen columns">
        <% if current_user %>
          <p class="session-log" id="notice"><%= flash[:notice] %></p>
        <% else %>
          <p class="session-log" id="notice"><%= flash[:notice] %></p>
          <p class="session-log" id="alert"><%= flash[:alert] %></p>
        <% end %>
      </div>
    </div>
  </div>

 <%= yield %>

</body>
</html>
